*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.85);
}

body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

/* Removing borders from outer cells */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}
.cell:nth-child(3n + 1) {
    border-left: none;
}
.cell:nth-child(3n + 3) {
    border-right: none;
}
.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

/* X in the cells */
.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: black;
    position: absolute;
}

.cell.x::before {
    transform: rotate(45deg);
}

.cell.x::after {
    transform: rotate(-45deg);
}

/* O in the cells */
.cell.o::before,
.cell.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.o::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: black;
}

.cell.o::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}